<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- <link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/default.css" rel="stylesheet"> -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- =======================================================
    Theme Name: Maxim
    Theme URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
======================================================= -->
<style >

  body{
    height: 100%;
    width: 100%;

     /*background-image: url("3.jpg");*/
     background-repeat: no-repeat;/*we want to have one single image not a repeated one*/
     background-size: cover;
     overflow: hidden;
     background-image:  linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)),url("3.jpg");
  }
    h1{
    /*margin-top: 50px;*/
    margin-left: 50px;
    color: yellow;
    text-shadow: inherit;
    text-decoration-style: solid;
    font-weight: 1000;
    font-size: 70px;
    font-family: "myfont";
    /*float:right;*/
    padding-right: 90px;
      margin-left: 90px;
    /*padding-top: 50px;*/

  }

  .matter{
    text-shadow: inherit;
    text-decoration-style: solid;
    /*font-weight: 700;*/
    font-size: 16px;
    font-family: "myfont";
    /*float:right;*/
    padding-right: 80px;
    color:#3A539B;

    margin-left: 50px;
  }

  .contact{
    color:white;
    font-family: "myfont";
    float: right;
    /*padding-right: 80px;
    padding-top:300px;
    padding-bottom: 10px;*/
    margin-top: 110px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-bottom: 30px;

  }

  #mybutton{
    font-family: "myfont";

    /*padding-right: 80px;
    padding-left: 100px;*/
    margin-right: 0px;
        margin-left: 50px;


  }
</style>
</head>
<body>

<div class="col-md-6 col-md-offset-3">
    <h1><span style="color: #F7CA18">REC</span>hase</h1>

    <div class="matter">
      <p>
        <div id="about">
          <p style="text-align: center;">
            Welcome to the treasure hunt!!!

You need to solve the question to unlock the treasure.Since the motto of RECursion is to help people,we provide you the biggest help possible-"GOOGLE". So,guys exploit your searching abilities,wake up your grey cells and get the treasure.
Answer in lowercase and no spaces between two words.
<br/>
<br/>
</p>
</div>
</p>
</div>

          <div id="mybutton">
          <% if current_user && current_user.score!=180%>
              <%= link_to "Go to Hunt", index_path, class: "btn btn-danger"%>
                 <%= link_to "Leaderboard", leaderboard_path, class: "btn btn-success"%>
              <%= link_to "Sign out", 'sign_out', method: :delete , class: "btn btn-info"%>
          <% else %>
              <%= link_to "Facebook", '/auth/facebook', class: "btn btn-info"%>
              <%= link_to "Google+", '/auth/google_oauth2', class: "btn btn-danger"%>
              <%= link_to "Leaderboard", leaderboard_path, class: "btn btn-success"%>

              <%end %>
        </div>
      </div>
</div>

<div class="contact">
  <p>Contact:</p>
  <p> Richa Agarwal(+91-8016042603)</p>
  <p> Anjali Agrawal(+91-7063494551)</p>
</div>

</body>
</html>
