<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    /* Set black background color, white text and some padding */
    body{
       height: 100%;
   width: 100%;

       background-image:  linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),url("treasure.jpg");
   background-repeat: no-repeat;
   background-size: 1600px 800px;
   overflow: auto;

    }

    #answerForm{
          width: 5em;  height: 5em;
    }
    h2{
      font-family: "Bitstream Charter";
    }

 #aPlayer > audio { width: 100% }
        /* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
       /* HIDE DOWNLOAD AUDIO BUTTON */
     #aPlayer {
           overflow: hidden;width: 390px; 
        }

    #aPlayer > audio { width: 420px; }
}

/* Chrome 22-28 */
@media screen and(-webkit-min-device-pixel-ratio:0) {
    
      #aPlayer {
           overflow: hidden;width: 390px; 
        }

    #aPlayer > audio { width: 420px; }
}

  </style>
</head>
<body>


<div class="container">
<h2 align="center" style="font-family: 'Supercell-magic';"><%= link_to "Home", home_path, class: "btn-small btn-success", style: "float: left; border-radius: 5%;"%>Score: <span id="myScore"><%= current_user.score %></span><%= link_to "Leaderbaord", leaderboard_path, class: "btn-small btn-success", style: "float: right; border-radius: 5%;"%></h2>
<div class="row">

  <% if current_user %>

      <div id="hunt">
        <% if @question!=nil %>
                
          <div class="col-md-6 panel" style="background: none">

            <div id="myQuestion" class="panel-heading">         
             <span><%= raw(@question.statement) %></span>           
            </div>
             <br />

              <div id="aPlayer">
              <% if !@question.audiourl.empty? %>
              <audio controls="controls">
                <source src="/audios/recursion.wav" type="audio/mpeg" control="true"/>
              </audio>
              <% end %>
              </div> 

         
          
          <span id="myImage">
          <% if @question.imageurl!="noimg.png" %>
          <%= image_tag(@question.imageurl)%>
          <%end %>
          </span>

         </div>

            <div class="col-md-6">
            <br /> <br /><br /> <br /><br /> <br /><br /> <br />
<br /> <br /><br /> <br /><br /> <br /><br /> <br />

            <form id="answerForm">
                <input type="text-area" name="answer" id="myAnswerText" style="font-size:18pt;height:40px;width: 500px;"><br /><br />
                <input  style="font-family: 'Supercell-magic';" class="btn btn-danger" type="submit" value="Hit" name="submit" id="myAnswer">
                </form>
                </div>


        <% end %>
      </div>
      </div>
      
  <div id="myResult">
  </div>

  <% end %>
</div>