<!DOCTYPE HTML>
<html lang="en">
<head>
  <style>
    /* Set black background color, white text and some padding */
    body{
       height: 100%;
   width: 100%;

       background-image:  linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),url("leader.jpeg");
   background-repeat: no-repeat;
   background-size: 1600px 800px;
   overflow: auto;

    }

    </style>
<meta charset="utf-8">
  <link href="css/default.css" rel="stylesheet">
</head>


<div class="container">
<h3 align="center" style="font-family: 'Supercell-magic';">Leaderboard<%= link_to "Hunt", index_path, class: "btn-small btn-success", style: "float: right; border-radius: 5%;"%></h3>

  <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th></th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody id="myTable" style="font-family: 'Supercell-magic';">
          <%@users.each do|u| %>
          <% if u == current_user %>
          <tr bgcolor="#ecf0f1">
          <% else %>
          <tr>
          <% end %>
              <td><%= @id %></td>
              <td><%= u.name %></td>
              <td><%= image_tag(u.image_url, size: '35x35') %>&nbsp;&nbsp;</td>
              <td><%= u.score %></td>
           </tr>
          <% @id=@id+1 %>
          <% end %>
          </tbody>
        </table>   
      </div>
      <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
  </div>
</div>


</body>
</html>